<%- include("header") -%>

<h2>This is the Contact-us page</h2>

<p class="text">Hello, my name is vishal.</p>
<p class="text">You can contact me via email- vk77mmm@gmail.com</p>

<%- include("footer") -%>